--- layout: download.swig ---
<div class="doc-home-title">
  <h1 class="faq-title">常见问题</h1>
</div>
<div id="backbone">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>账户和平台</h2>
        <ul>
          <li><a href="faq.html#一粒云与其他企业云盘有哪些区别">一粒云与其他企业云盘有哪些区别</a></li>
          <li><a href="faq.html#Yliyun_部署在哪个平台操作系统上">Yliyun_部署在哪个平台操作系统上</a></li>
          <li><a href="faq.html#一粒云产品和群晖有什么区别">一粒云产品和群晖有什么区别</a></li>
          <li><a href="faq.html#一粒云和钉钉是什么关系">一粒云和钉钉是什么关系</a></li>
          <li><a href="faq.html#获取客服支持有哪些途径">获取客服支持有哪些途径</a></li>
          <li><a href="faq.html#服务应用支持哪些平台">服务应用支持哪些平台</a></li>
          <li><a href="faq.html#API_开放吗">API 开放吗</a></li>
          <li><a href="faq.html#iOS_和_Android_是否可以使用同一个_App">iOS 和 Android 是否可以使用同一个 App</a></li>
          <li><a href="faq.html#有哪些部署方式">有哪些部署方式</a></li>
          <li><a href="faq.html#哪里获取平台的更新信息">哪里获取平台的更新信息</a></li>

        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>文件服务</h2>
        <ul>
          <li><a href="faq.html#有哪些基本文件管理功能">有哪些基本文件管理功能</a></li>
          <li><a href="faq.html#一粒云app上可以编辑文档吗">一粒云app上可以编辑文档吗</a></li>
          <li><a href="faq.html#多人打开编辑能不能提示谁正在使用">多人打开编辑能不能提示谁正在使用</a></li>
          <li><a href="faq.html#文件存储有大小限制吗">文件存储有大小限制吗</a></li>
          <li><a href="faq.html#文件修改后还能找回修改前的版本吗">文件修改后还能找回修改前的版本吗</a></li>
          <li><a href="error_code.html#_403">403 错误</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>数据存储</h2>
        <ul>
          <li><a href="faq.html#如何导入或者导出数据">如何导入或者导出数据</a></li>
          <li><a href="faq.html#想保留测试一粒云时的数据和其他配置怎么办">想保留测试一粒云时的数据和其他配置怎么办</a></li>
          <li><a href="faq.html#文件存储到服务器是否安全">文件存储到服务器是否安全</a></li>
          <li><a href="faq.html#如何防止用户恶意删除文件">如何防止用户恶意删除文件</a></li>
          <li><a href="faq.html#关于云盘的同步和备份">关于云盘的同步和备份</a></li>
          <li><a href="faq.html#关于一粒云删重">关于一粒云删重</a></li>
          <li><a href="faq.html#为什么新安装的一粒云显示已用磁盘比实际已用磁盘多">为什么新安装的一粒云显示已用磁盘比实际已用磁盘多</a></li>
          <li><a href="faq.html#异地办公点访问文件的速度，是否要占用本地部署的带宽资源？速度怎么样？">异地办公点访问文件的速度，是否要占用本地部署的带宽资源？速度怎么样？</a></li>
          <li><a href="faq.html#主备模式下，可承载用户数和可用空间容量是怎么算的？">主备模式下，可承载用户数和可用空间容量是怎么算的？</a></li>

        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <!-- .col-md-4 -->



  </div>
  <!-- .row -->
  <hr>
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>插件集成</h2>
        <ul>
          <li><a href="faq.html#插件集成服务免费吗">插件集成服务免费吗</a></li>
        </ul>
      </div>
    </div>



    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>控制台</h2>
        <ul>
          <li><a href="faq.html#如何快速建立组织架构">如何快速建立组织架构</a></li>
          <li><a href="faq.html#安全策略设置">安全策略设置</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>定制扩展</h2>
        <ul>
          <li><a href="tailor_faq.html#可不可以选择时间让两个服务器同步">可不可以选择时间让两个服务器同步</a></li>
          <li><a href="tailor_faq.html#可以挂载NFS吗">可以挂载NFS吗？</a></li>
          <li><a href="tailor_faq.html#如何设置异地同步">如何设置异地同步</a></li>
          <li><a href="tailor_faq.html#定制服务如何收费">定制服务如何收费</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

  </div>
</div>
