--- layout: download.swig ---
<div class="doc-home-title">
  <h1 class="faq-title">常见问题</h1>
</div>
<div id="backbone">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>账户和平台</h2>
        <ul>
          <li><a href="faq.html#Yliyun_部署在哪个平台操作系统上">Yliyun_部署在哪个平台操作系统上</a></li>
          <li><a href="faq.html#获取客服支持有哪些途径">获取客服支持有哪些途径</a></li>
          <li><a href="faq.html#哪里获取平台的更新信息">哪里获取平台的更新信息</a></li>
          <li><a href="faq.html#API_开放吗">API 开放吗</a></li>
          <li><a href="faq.html#提供哪些平台的_SDK">提供哪些平台的 SDK</a></li>
          <li><a href="faq.html#iOS_和_Android_是否可以使用同一个_App">iOS 和 Android 是否可以使用同一个 App</a></li>
          <li><a href="faq.html#开发文档有提供搜索功能吗">开发文档有提供搜索功能吗</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>文件服务</h2>
        <ul>
          <li><a href="faq.html#API_调用次数有什么限制吗">API 调用次数有什么限制吗</a></li>
          <li><a href="faq.html#API_调用次数的计算">API 调用次数的计算</a></li>
          <li><a href="faq.html#如何获取_API_的访问日志">API 的使用量和日志查询</a></li>
          <li><a href="faq.html#可以在线测试_API_吗">可以在线测试 API 吗</a></li>
          <li><a href="error_code.html#_403">403 错误</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>数据存储</h2>
        <ul>
          <li><a href="faq.html#推送的到达率如何">推送的到达率如何</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <!-- .col-md-4 -->



  </div>
  <!-- .row -->
  <hr>
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>插件集成</h2>
        <ul>
          <li><a href="rest_sms_api.html#关于插件集成_">关于插件集成</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>定制扩展</h2>
        <ul>
          <li><a href="leanengine_faq.html#云引擎都支持哪些语言">云引擎都支持哪些语言</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="col-md-4 col-xs-6">
      <div class="link-block">
        <h2>控制台</h2>
        <ul>
          <li><a href="faq.html#如何导入或者导出数据_">如何导入或者导出数据</a></li>
          <li><a href="faq.html#如何上传文件">如何上传文件</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

  </div>
</div>
