---
layout: index.swig
---
<div class="row">
  <div class="doc-home-title col-md-8 col-md-offset-2 col-xs-offset-0">
    <!-- <h1 class="font-logo">Documentation</h1> -->
    <!-- <form class="hero-search" role="search" action="https://newdoc.leanapp.cn/search" method="get"> -->
    <div class="form-group text-center" style="margin:0 10px;">
      <input id="site-search" name="q" type="text" class="form-control input-lg" placeholder="&#xf17a 输入错误代码、关键字来搜索&hellip;">
    </div>
    <ul class="nav nav-pills text-center" role="tablist">
      <!--
      <li role="presentation" class="active">
        <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill">技术文档</a>
      </li>
      <li role="presentation">
        <a href="opencourse.html" data-target="#tab-other" data-toggle="pill" data-source="">ajax</a>
      </li>
      -->
      <li role="presentation" class="active">
        <div class="doc-hero-links">
          <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-log"></i>
          技术文档
          </a>
        </div>
      </li>
      <li>
        <div class="doc-hero-links">
          <a href="faq_list.html" data-target="#tab-faqlist" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-signpost"></i>
          常见问题
          </a>
        </div>
      </li>
      <li>
        <div class="doc-hero-links">
          <a href="opencourse.html" data-target="#tab-opencourses" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-graduation"></i>
            视频教程
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-offset-0">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-docs">
        <div class="toc-hack" style="display: none;">
          <ul>
          </ul>
        </div>
        <div style="height:100px;" class="mobile-hide">
        &nbsp;
          <div id="section-nav" class="scrollspy text-center mobile-hide  affix-top loaded">
            <div class="spinner"></div>
            <ul class="nav">
            </ul>
          </div>
        </div>

        <div class="section">
          <h2 class="section-title"><span>产品介绍</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>产品简介</h3>
              <ul class="list-unstyled">
                <li><span><a href="yliyun.html#一粒云产品介绍">一粒云产品介绍</a></span></li>
              </ul>
              <h3>行业分析</h3>
              <ul class="list-unstyled">
                <li><span><a href="yliyun.html#行业分析">行业分析</a></span></li>
              </ul>
              <h3>市场前景</h3>
              <ul class="list-unstyled">
                <li><span><a href="yliyun.html#市场趋势">市场趋势</a></span></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>客户案例</h3>
              <ul class="list-unstyled">
                <li><a href="yliyun.html#教育行业案例概览">教育行业案例概览</a></li>
                <li><a href="yliyun.html#大中型企业案例概览">大中型企业案例概览</a></li>
                <li><a href="yliyun.html#政府及职能部门行业案例概览">政府及职能部门行业案例概览</a></li>
              </ul>

              <h3>合作共赢</h3>
              <ul class="list-unstyled">
                <li><a href="yliyun.html#云服务商">云服务商</a></li>
                <li><a href="yliyun.html#渠道合作">渠道合作</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of row section -->

        <div class="section">
          <h2 class="section-title"><span>数据存储</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>使用指南</h3>
              <ul class="list-unstyled">
                <li><span><a href="start.html">部署安装</a></span></li>
                <li> <span>快速入门</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanstorage-started-android.html">移动端</a></li>
                    <li><a href="leanstorage-started-js.html">客户端/Web</a></li>

                    <li><a href="leanstorage-started-js.html">管理员</a></li>
                  </ul>
                </li>
                <li> <span>进阶使用</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanstorage-started-android.html">在线编辑</a></li>
                    <li><a href="leanstorage-started-android.html">文件版本</a></li>
                    <li><a href="leanstorage-started-js.html">备份同步</a></li>
                  </ul>
                </li>

                <li> <span>后台管理</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanstorage-started-android.html">系统状态</a></li>
                    <li><a href="leanstorage-started-android.html">组织架构</a></li>
                    <li><a href="leanstorage-started-android.html">系统限制</a></li>
                    <li><a href="leanstorage-started-android.html">安全水印</a></li>
                    <li><a href="leanstorage-started-js.html">日志审计</a></li>
                  </ul>
                </li>

                <h3>高级篇</h3>
                <li><a href="storage_overview.html">存储服务总览</a></li>
                <li><a href="data_security.html">数据安全详解</a></li>
                <li> <span><a href="livequery-guide.html">实时数据同步</a></span> </li>
                <li> <span><a href="relation-guide.html">存储模型设计指南</a></span> </li>
                <li> <span><a href="acl-guide.html">权限管理指南</a></span> </li>
                {% include 'templates/include/_sms.html' %}
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="weapp.html">企业知识库的构建与使用 YLIYUN</a></li>
                <li><a href="https://zhuanlan.zhihu.com/p/24451674" target="_blank">在 YLIYUN 中配置外网访问</a></li>
                <li><a href="https://blog.leancloud.cn/1723/" target="_blank">基于 YLIYUN 数据共享技巧</a></li>
                <li><a href="app-sample-restaurant.html">教程 · 一粒云人工智能课代表</a></li>
                <li><a href="app-guide-take-away.html">YLIYUN 针对物流供应链行业的解决方案</a></li>
                <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
                <li><a href="https://blog.leancloud.cn/3993/" target="_blank">使用 YLIYUN 与 React Native 构建原生应用</a></li>
                <!--<li><a href="https://forum.leancloud.cn/t/unity-leancloud/5095" target="_blank">在 Unity 中使用 LeanCloud</a></li>-->
                <!--<li><a href="https://blog.leancloud.cn/607/" target="_blank">自定义应用内用户重设密码和邮箱验证页面</a></li>-->
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="rest_api.html">数据存储 REST API</a></li>
                <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
                <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
                {%- if node!='qcloud' -%}
                <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
                {%- endif -%}
                <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of row section -->

        <div class="section">
          <h2 class="section-title"><span>权限控制</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>使用指南</h3>
              <ul class="list-unstyled">
                <li><a href="leanengine_overview.html">权限总览</a></li>
                <li><a href="leanengine_quickstart.html">快速入门</a></li>
                <li><a href="leanengine_plan.html">组织架构权限分配方案</a></li>
                <li> <span>群组空间权限</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanengine_webhosting_guide-python.html">管理者</a></li>
                    <li><a href="leanengine_webhosting_guide-node.html">协作者</a></li>
                    <li><a href="leanengine_webhosting_guide-php.html">参与者</a></li>
                    <li><a href="leanengine_webhosting_guide-java.html">分享者</a></li>
                  </ul>
                </li>
                <li> <span>共享、部门空间权限</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leanengine_cloudfunction_guide-python.html">管理</a></li>
                    <li><a href="leanengine_cloudfunction_guide-node.html">同步</a></li>
                    <li><a href="leanengine_cloudfunction_guide-php.html">编辑</a></li>
                    <li><a href="leanengine_cloudfunction_guide-java.html">分享</a></li>
                    <li><a href="leanengine_cloudfunction_guide-dotnet.html">下载</a></li>
                    <li><a href="leanengine_cloudfunction_guide-dotnet.html">上传</a></li>
                    <li><a href="leanengine_cloudfunction_guide-dotnet.html">预览</a></li>
                    <li><a href="leanengine_cloudfunction_guide-dotnet.html">不可见</a></li>
                  </ul>
                </li>
                <li><a href="leanengine_faq.html">权限配置常见问题</a></li>
                <li><a href="leancache_guide.html">权限变更及日志检索</a></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="push-guide-leanengine.html">在物流业报关流程中的权限使用</a></li>
                <!--<li><a href="acl_guide_leanengine.html">在云引擎中使用 ACL</a></li>-->
                <!--<li><a href="https://blog.leancloud.cn/3437/" target="_blank">在云引擎中使用 WebSocket</a></li>-->
                <li><a href="leanengine_examples.html">几个典型场景下的权限使用示例</a></li>
                <li><a href="https://blog.leancloud.cn/4133/" target="_blank">在管理后台监控权限变更细节</a></li>
                <!--<li><a href="https://zhuanlan.zhihu.com/p/21399155" target="_blank">快速开发聊天机器人</a></li>-->
                <!--<li><a href="webhosting_weixin.html">打造我的微信客服</a></li>-->
                <!--<li><a href="pay-beecloud.html">为网站加入收款功能</a></li>-->
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
        <!-- end of .section -->

        <div class="section">
          <h2 class="section-title"><span>系统架构</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>配置指南</h3>
              <ul class="list-unstyled">
                <li><span><a href="start.html">部署安装</a></span></li>
                <li><a href="realtime_v2.html">分布式存储总览</a></li>
                <li> <span>插件中心使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="realtime_guide-android.html">钉钉集成</a></li>
                    <li><a href="realtime_guide-objc.html">DNSPOD集成</a></li>
                    <li><a href="realtime_guide-js.html">HSK集成</a></li>
                    <li><a href="realtime-unity.html">MarkDown插件配置</a></li>
                  </ul>
                </li>
                <li> <span>域控系统同步指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="im-servermgmt-guide-python.html">AD域</a></li>
                  </ul>
                </li>
                <li> <span>服务器系统管理-Webmin使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="chatkit-android.html">服务监控</a></li>
                    <li><a href="chatkit-ios.html">磁盘阵列</a></li>
                    <li><a href="chatkit-ios.html">iSCSI客户端配置</a></li>
                  </ul>
                </li>
                <!-- <li> <span>直播＋聊天解决方案 LiveKit 使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="livekit-android.html">Android</a></li>
                    <li><a href="livekit-ios.html">iOS</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="" target="_blank">使用 YLIYUN 搭建连锁门店数据中心</a></li>
                <li><a href="realtime_v2.html#离线推送通知">如何推送离线消息</a></li>
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="realtime_rest_api_v2.html">即时通讯 REST API</a></li>
                <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>


        <div class="section">
          <h2 class="section-title"><span>解决方案</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>实时对战</h3>
              <ul class="list-unstyled">
                <li><a href="multiplayer.html">云存储解决方案总览</a></li>
                <li><span>行业级解决方案</span>
                  <ul class="list-unstyled tags">
                    <li><a href="multiplayer-quick-start-js.html">外贸/供应行业解决方案</a></li>
                    <li><a href="multiplayer-quick-start-unity.html">教育共享云解决方案</a></li>
                  </ul>
                </li>
                <li> <span>通用解决方案</span>
                  <ul class="list-unstyled tags">
                    <li><a href="multiplayer-js.html">私有云存储解决方案</a></li>
                    <li><a href="multiplayer-unity.html">文档数据管理解决方案</a></li>
                    <!-- <li><a href="#">REST API</a></li> -->
                  </ul>
                </li>
                <br>
                <li><a href="multiplayer-unity-demo.html">跨地域解决方案</a></li>
                <li><a href="multiplayer-unity-demo.html">软硬一体化方案</a></li>
                <!-- <li><a href="#">常见问题</a></li> -->
              </ul>
            </div>

            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="leaderboard.html">行业案例总览</a></li>
                <li><span>教育行业</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leaderboard-quick-start.html">龙湾教育云</a></li>
                    <li><a href="leaderboard-quick-start.html">云南大学</a></li>
                  </ul>
                </li>
                <li><span>政府单位</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leaderboard-guide-js.html">深圳海关</a></li>
                    <li><a href="leaderboard-rest-api.html">瓯海公安局</a></li>
                  </ul>
                </li>
                <li><span>服务机构</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leaderboard-guide-js.html">广西科技云</a></li>
                    <li><a href="leaderboard-rest-api.html">西南证券</a></li>
                  </ul>
                </li>
                <li><span>大型企业</span>
                  <ul class="list-unstyled tags">
                    <li><a href="leaderboard-guide-js.html">华为云</a></li>
                    <li><a href="leaderboard-rest-api.html">小康云盘</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>


        <div class="section">
          <h2 class="section-title"><span>Synsea</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Synsea系列使用指南</h3>
              <ul class="list-unstyled">
                <li><span><a href="synsea_tutorial.html#SF4020安装使用">SF4020安装使用</a></span></li>
                <li><span><a href="synsea_tutorial.html#SF4040安装使用">SF4040安装使用</a></span></li>
                <li> <span>在线服务使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="android_statistics.html">在线激活</a></li>
                    <li><a href="ios_statistics.html">在线扩容</a></li>
                    <li><a href="js_analytics.html">在线升级</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
                <ul class="list-unstyled">
                  <li><a href="user_groups.html">如何进行用户群分析</a></li>
                </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
        <!-- end of .section -->

        <div class="section">
          <h2 class="section-title"><span>其他</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>SDK API Docs</h3>
              <ul class="list-unstyled">
                {% include 'templates/include/_apidocs.html' %}
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>开源组件</h3>
              <ul class="list-unstyled">
                <li><a href="demo.html">开源 Demo 一览</a>
                <li><a href="status_system.html">应用内社交组件</a></li>
                <li><a href="feedback.html">用户反馈组件</a></li>
                <li><a href="sns.html">第三方社交账号登录组件</a></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>使用提示</h3>
              <ul class="list-unstyled">
                <li><a href="tool_tips.html">常见功能提示</a></li>
                <li><a href="dashboard_guide.html">控制台使用说明</a></li>
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="faq_list.html">常见问题</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>

      </div>
      <!-- end of tabpanel: tab-docs -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-faqlist"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tab-opencourses"></div>
      <!-- end of tabpanel: tab-opencourses -->
      <!-- <div role="tabpanel" class="tab-pane active" id="tab-other"></div> -->

    </div>
  </div>
</div>
