---
layout: index.swig
---
<div class="row">
  <div class="doc-home-title col-md-8 col-md-offset-2 col-xs-offset-0">
    <div class="form-group text-center" style="margin:0 10px;">
      <input id="site-search" name="q" type="text" class="form-control input-lg" placeholder="&#xf17a 输入关键字来搜索&hellip;">
    </div>
    <ul class="nav nav-pills text-center" role="tablist">
      <!--
      <li role="presentation" class="active">
        <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill">技术文档</a>
      </li>
      <li role="presentation">
        <a href="opencourse.html" data-target="#tab-other" data-toggle="pill" data-source="">ajax</a>
      </li>
      -->
      <li role="presentation" class="active">
        <div class="doc-hero-links">
          <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-log"></i>
          技术文档
          </a>
        </div>
      </li>
      <li>
        <div class="doc-hero-links">
          <a href="faq_list.html" data-target="#tab-faqlist" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-signpost"></i>
          常见问题
          </a>
        </div>
      </li>
      <li>
        <div class="doc-hero-links">
          <a href="opencourse.html" data-target="#tab-opencourses" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-graduation"></i>
            视频教程
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-offset-0">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-docs">
        <div class="toc-hack" style="display: none;">
          <ul>
          </ul>
        </div>
        <div style="height:100px;" class="mobile-hide">
        &nbsp;
          <div id="section-nav" class="scrollspy text-center mobile-hide  affix-top loaded">
            <div class="spinner"></div>
            <ul class="nav">
            </ul>
          </div>
        </div>
        <!--<div class="section">-->
          <!--<h2 class="section-title"><span>产品介绍</span></h2>-->

          <!--<div class="row">-->
            <!--<div class="section-content col-xs-12 col-sm-6 col-md-6">-->
              <!--<h3>产品简介</h3>-->
              <!--<ul class="list-unstyled">-->
                <!--<li><span><a href="yliyun.html#一粒云产品介绍">一粒云产品介绍</a></span></li>-->
              <!--</ul>-->
              <!--<h3>产品形态</h3>-->
              <!--<ul class="list-unstyled tags">-->
                <!--<li><a href="yliyun.html#一粒云盘系统">一粒云盘</a></li>-->
                <!--<li><a href="yliyun.html#Synsea-深海聚数">Synsea</a></li>-->

                <!--<li><a href="yliyun.html#云市场产品">云市场产品</a></li>-->
              <!--</ul>-->
          <!--</div>-->
            <!--<div class="section-content col-xs-12 col-sm-6 col-md-6">-->
              <!--<h3>客户案例</h3>-->
              <!--<ul class="list-unstyled">-->
                <!--<li><a href="yliyun.html#教育行业案例概览">教育行业案例概览</a></li>-->
                <!--<li><a href="yliyun.html#大中型企业案例概览">大中型企业案例概览</a></li>-->
                <!--<li><a href="yliyun.html#政府及职能部门行业案例概览">政府及职能部门行业案例概览</a></li>-->
              <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- end of row section -->

        <div class="section">
          <h2 class="section-title"><span>数据存储</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>使用指南</h3>
              <ul class="list-unstyled">
                <li><span><a href="start.html">部署安装</a></span></li>
                <li> <span>快速入门</span>
                  <ul class="list-unstyled tags">
                    <li><a href="app_tutorial.html">移动端</a></li>
                    <li><a href="web_tutorial.html">客户端/Web</a></li>

                    <li><a href="admin_tutorial.html">管理员</a></li>
                  </ul>
                </li>
                <li> <span>进阶使用</span>
                  <ul class="list-unstyled tags">
                    <li><a href="ad_edit.html">在线编辑</a></li>
                    <li><a href="ad_versions.html">文件版本</a></li>
                    <li><a href="ad_sync.html">备份同步</a></li>
                  </ul>
                </li>

                <li> <span>后台管理</span>
                  <ul class="list-unstyled tags">
                    <li><a href="ad_status.html">系统状态</a></li>
                    <li><a href="ad_company.html">组织架构</a></li>
                    <li><a href="ad_limits.html">系统限制</a></li>
                    <li><a href="watermark.html">安全水印</a></li>
                    <li><a href="ad_records.html">日志审计</a></li>
                  </ul>
                </li>

                <h3>高级篇</h3>
                <li><a href="storage_overview.html">存储服务总览</a></li>
                <li><a href="data_security.html">数据安全详解</a></li>
                <li> <span><a href="livequery-guide.html">实时数据同步</a></span> </li>
                <!--{% include 'templates/include/_sms.html' %}-->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="https://mp.weixin.qq.com/s?__biz=MzAxOTcyNjgxMA==&mid=2650183412&idx=2&sn=c274d496758711479a89bb0e6bdad4a4&chksm=83c09e41b4b71757ec0e85cd18636635f4a4491c067d3f2d8b9a2363f905f269f7d6ed9c9af9&mpshare=1&scene=1&srcid=1029ivHQ6h8KgKU02aGiIai4#rd" target="_blank">企业(工厂)信息化与数据管理</a></li>
                <li><a href="https://mp.weixin.qq.com/s?__biz=MzAxOTcyNjgxMA==&mid=2650183329&idx=1&sn=f1b861c632dd4c860bb5a1e844cbcb5d&chksm=83c09e14b4b7170243bbb6698a9b7a0f8ae0667bb18ce0d188a959cac52568bfb56e98d802f5&mpshare=1&scene=1&srcid=10299j8ZgWDDQwr4LkKqsgfe#rd" target="_blank">海量教育资源如何安全管理</a></li>
                <!--<li><a href="app-sample-restaurant.html">教程 · 一粒云人工智能课代表</a></li>-->
                <!--<li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>-->
                <li><a href="https://mp.weixin.qq.com/s?__biz=MzAxOTcyNjgxMA==&mid=2650183169&idx=1&sn=94e8acbcc745f5fc6160be8aace0dc07&chksm=83c09eb4b4b717a261f5e73df378eb92a465686cfe2e610493fcc391108dec14e72c402112cd&mpshare=1&scene=1&srcid=1029rwTpi1cSVy8F4JE4PSkf#rd" target="_blank">多种姿势备份文档资料</a></li>
                <!--<li><a href="https://forum.leancloud.cn/t/unity-leancloud/5095" target="_blank">在 Unity 中使用 LeanCloud</a></li>-->
                <!--<li><a href="https://blog.leancloud.cn/607/" target="_blank">自定义应用内用户重设密码和邮箱验证页面</a></li>-->
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of row section -->

        <div class="section">
          <h2 class="section-title"><span>权限控制</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>使用指南</h3>
              <ul class="list-unstyled">
                <li><a href="access.html">权限总览</a></li>
                <!--<li><a href="organization_chart.html">组织架构权限分配方案</a></li>-->
                <li> <span>群组空间权限</span>
                  <ul class="list-unstyled tags">
                    <li><a href="access.html#管理者">管理者</a></li>
                    <li><a href="access.html#协作者">协作者</a></li>
                    <li><a href="access.html#邀请者">邀请者</a></li>
                    <li><a href="access.html#参与者">参与者</a></li>
                  </ul>
                </li>
                <li> <span>共享、部门空间权限</span>
                  <ul class="list-unstyled tags">
                    <li><a href="">管理</a></li>
                    <li><a href="">同步</a></li>
                    <li><a href="">编辑</a></li>
                    <li><a href="">分享</a></li>
                    <li><a href="">下载</a></li>
                    <li><a href="">上传</a></li>
                    <li><a href="">预览</a></li>
                    <li><a href="">不可见</a></li>
                  </ul>
                </li>
                <li> <span>文件分享权限</span>
                  <ul class="list-unstyled tags">
                    <li><a href="access.html#仅预览">仅预览</a></li>
                    <li><a href="access.html#可下载">可下载</a></li>
                    <li><a href="access.html#仅上传">仅上传(文件夹)</a></li>
                  </ul>
                </li>
                <li><a href="leanengine_faq.html">权限配置常见问题</a></li>
                <li><a href="leancache_guide.html">权限变更及日志检索</a></li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="https://mp.weixin.qq.com/s?__biz=MzAxOTcyNjgxMA==&mid=2650183487&idx=1&sn=92c86073b73475f014412dfed80c061e&chksm=83c09f8ab4b7169c55b9911b5608966d260637ba1d3b981a5e395ca31caef3f7029e0ce29dbc&mpshare=1&scene=1&srcid=1029pQ3Xf3RwzgUpfQvfXeGl#rd" target="_blank">在物流业报关流程中的权限使用</a></li>
                <!--<li><a href="acl_guide_leanengine.html">在云引擎中使用 ACL</a></li>-->
                <!--<li><a href="https://blog.leancloud.cn/3437/" target="_blank">在云引擎中使用 WebSocket</a></li>-->
                <li><a href="https://mp.weixin.qq.com/s/jaIyTAcYS7-URZDCAy4xVA" target="_blank"> 软件权限用得好，企业管理省心不少</a></li>
                <li><a href="leanengine_examples.html">几个典型场景下的权限使用示例</a></li>
                <li><a href="" target="_blank">在管理后台监控权限变更细节</a></li>
                <!--<li><a href="https://zhuanlan.zhihu.com/p/21399155" target="_blank">快速开发聊天机器人</a></li>-->
                <!--<li><a href="webhosting_weixin.html">打造我的微信客服</a></li>-->
                <!--<li><a href="pay-beecloud.html">为网站加入收款功能</a></li>-->
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
        <!-- end of .section -->

        <div class="section">
          <h2 class="section-title"><span>系统架构</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>配置指南</h3>
              <ul class="list-unstyled">
                <li><a href="dfs.html">分布式架构总览</a></li>
                <li> <span>插件中心使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="dding_tutorial.html">钉钉集成</a></li>
                    <li><a href="">花生壳集成</a></li>
                  </ul>
                </li>
                <li> <span>域控系统同步指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="ad.html">AD域</a></li>
                  </ul>
                </li>
                <li> <span>服务器系统管理</span>
                  <ul class="list-unstyled tags">
                    <!--<li><a href="ad_monitor.html">服务监控</a></li>-->
                    <li><a href="sys_update.html">手动升级</a></li>
                    <li><a href="ad_raid.html">磁盘阵列</a></li>
                    <li><a href="ad_storageEx.html">手动存储扩容</a></li>
                  </ul>
                </li>
                <!-- <li> <span>直播＋聊天解决方案 LiveKit 使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a href="livekit-android.html">Android</a></li>
                    <li><a href="livekit-ios.html">iOS</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="" target="_blank">使用 YLIYUN 搭建连锁门店数据中心</a></li>
                <li><a href="dingding_test.html">外部客户体验钉钉免登操作使用流程</a></li>
                <li><a href="edu_comm.html">教育局如何统筹管理全区教学资源</a></li>
                <li><a href="media_comm.html">多媒体资料管理中心</a></li>
              </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>


        <div class="section">
          <h2 class="section-title"><span>解决方案</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>实时对战</h3>
              <ul class="list-unstyled">
                <li><a href="solution.html">云存储解决方案总览</a></li>
                <li><span>行业级解决方案</span>
                  <ul class="list-unstyled tags">
                    <li><a href="solution.html#外贸/供应行业解决方案">外贸/供应行业解决方案</a></li>
                    <li><a href="solution.html#教育共享云解决方案">教育共享云解决方案</a></li>
                  </ul>
                </li>
                <li> <span>通用解决方案</span>
                  <ul class="list-unstyled tags">
                    <li><a href="solution.html#私有云存储解决方案">私有云存储解决方案</a></li>
                    <li><a href="solution.html#文档数据管理解决方案">文档数据管理解决方案</a></li>
                    <!-- <li><a href="#">REST API</a></li> -->
                  </ul>
                </li>

                <!-- <li><a href="#">常见问题</a></li> -->
              </ul>
            </div>

            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
              <ul class="list-unstyled">
                <li><a href="multiplayer-unity-demo.html">跨地域部署</a></li>
                <!--<li><a href="leaderboard.html">行业案例总览</a></li>-->
                <!--<li><span>教育行业</span>-->
                  <!--<ul class="list-unstyled tags">-->
                    <!--<li><a href="leaderboard-quick-start.html">龙湾教育云</a></li>-->
                    <!--<li><a href="leaderboard-quick-start.html">云南大学</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li><span>政府单位</span>-->
                  <!--<ul class="list-unstyled tags">-->
                    <!--<li><a href="leaderboard-guide-js.html">深圳海关</a></li>-->
                    <!--<li><a href="leaderboard-rest-api.html">瓯海公安局</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li><span>服务机构</span>-->
                  <!--<ul class="list-unstyled tags">-->
                    <!--<li><a href="leaderboard-guide-js.html">广西科技云</a></li>-->
                    <!--<li><a href="leaderboard-rest-api.html">西南证券</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li><span>大型企业</span>-->
                  <!--<ul class="list-unstyled tags">-->
                    <!--<li><a href="leaderboard-guide-js.html">华为云</a></li>-->
                    <!--<li><a href="leaderboard-rest-api.html">小康云盘</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
              </ul>

              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>


        <div class="section">
          <h2 class="section-title"><span>Synsea</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>Synsea系列使用指南</h3>
              <ul class="list-unstyled">
                <li><span><a href="synsea_tutorial.html#SF4020安装使用">SF4020安装使用</a></span></li>
                <li><span><a href="synsea_tutorial.html#SF4040安装使用">SF4040安装使用</a></span></li>
                <li> <span>在线服务使用指南</span>
                  <ul class="list-unstyled tags">
                    <li><a target="_blank" href="http://www.yliyun.com/blog/2018/06/12/yi-li-yun-ru-he-kuo-rong/">在线扩容</a></li>
                    <li><a target="_blank" href="http://www.yliyun.com/blog/2018/08/17/yliyun-4-2/">在线升级</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>最佳实践</h3>
                <ul class="list-unstyled">
                  <li><a href="user_groups.html">中小企业如何高效管理数据</a></li>
                </ul>
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="faq_list.html">常见问题</a></li>
                <li><a href="network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
        <!-- end of .section -->

        <div class="section">
          <h2 class="section-title"><span>其他</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>SDK API Docs</h3>
              <ul class="list-unstyled">
                <!--{% include 'templates/include/_apidocs.html' %}-->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>开源组件</h3>
              <ul class="list-unstyled">
                <!--<li><a href="demo.html">开源 Demo 一览</a>-->
                <li><a href="private_doc.html">应用内DOC组件</a></li>
                <!--<li><a href="sns.html">第三方账号登录组件</a></li>-->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-4 col-md-4">
              <h3>使用提示</h3>
              <ul class="list-unstyled">
                <!--<li><a href="tool_tips.html">常见功能提示</a></li>-->
                <li><a href="error_code.html">错误码详解</a></li>
                <li><a href="faq_list.html">常见问题</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>

      </div>
      <!-- end of tabpanel: tab-docs -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-faqlist"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tab-opencourses"></div>
      <!-- end of tabpanel: tab-opencourses -->
      <!-- <div role="tabpanel" class="tab-pane active" id="tab-other"></div> -->
    </div>
    </div>
  </div>
</div>
