--- 
layout: start.swig   
---
<div class="doc-content">
  <h1 class="font-logo text-center" style="border-bottom:0;">视频教程</h1>
  <div id="backbone">
    <div class="section">
      <h2 class="section-title"><span class="font-logo">YLIYUN 平台</span></h2>
      <div class="row">
        <div class="section-content col-xs-12 col-sm-6 col-md-6">
          <h3>安装部署</h3>
          <ul class="list-unstyled">
            <li><a href="http://www.bilibili.com/video/av7851205/ " target="_blank">一粒云完整部署（2016-09-04）</a></li>
            <li><a href="http://www.bilibili.com/video/av7851205/ " target="_blank">使用VM镜像包一键部署（2016-07-09）</a></li>
            <li><a href="http://www.bilibili.com/video/av9082797/" target="_blank">Docker快速部署（2018-10-04）</a>
            </li>
            <li>
              <p class="note">
                不同场景下安装部署一粒云私有云存储
              <p>
            </li>
          </ul>
          <h3>存储扩容</h3>
          <ul class="list-unstyled">
            <li><a href="http://www.bilibili.com/video/av7851205/ " target="_blank">磁盘阵列（RAID）（2018-06-04）</a></li>
            <li><a href="http://www.bilibili.com/video/av7503722/" target="_blank">磁盘加载及扩容（2018-06-07）</a></li>
            <!-- <li><a href="http://www.bilibili.com/video/av7503722/" target="_blank">NPM 包管理器应用技巧（2016-12-17）</a></li> -->
            <!-- <li><a href="https://xiaobanhui.com/wxTech/499808229/" target="_blank">Node.js 错误处理实践</a></li> -->
          </ul>
          <h3>数据安全</h3>
          <ul class="list-unstyled">
            <li><a href="http://www.bilibili.com/video/av8868380/" target="_blank">数据库备份（2017-02-23）</a></li>
            <li><a href="http://www.bilibili.com/video/av9017992/" target="_blank">系统备份（2017-02-23）</a></li>
          </ul>
        </div>
        <div class="section-content col-xs-12 col-sm-6 col-md-6">
          <h3>使用技巧</h3>
          <ul class="list-unstyled">
            <li><a href="http://www.bilibili.com/video/av8663659/" target="_blank">域用户同步（2017-02-16）</a></li>
            <li><a href="http://www.bilibili.com/video/av7985520/" target="_blank">钉钉集成（2017-01-12）</a></li>
            <li><a href="http://www.bilibili.com/video/av11291992/" target="_blank">外网访问配置（上）<span class="text-muted">（2017-06-10）</span></a>
            </li>
            <li><a href="http://www.bilibili.com/video/av11291992/" target="_blank">外网访问配置（下）<span class="text-muted">（2017-06-10）</span></a>
            </li>
            <li>
              <p class="note">通过与企业现有业务系统对接集成，达到业务数据统一存储、管理、归档流程</strong>。</p>
            </li>
          </ul>
          <h3>自定义插件</h3>
          <ul class="list-unstyled">
            <li><a href="https://www.bilibili.com/video/av11454137/" target="_blank">在一粒云快速添加<strong>Markdown插件</strong>（2018-10-17）</a></li>
            <li><a href="https://www.bilibili.com/video/av11608322/" target="_blank">使用一粒云插件模版开发DIY插件（2018-10-24）</a>
            </li>
            <li>
              <p class="note">学习使用一粒云插件模版及调用API自己开发插件模块</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
