--- 
layout: start.swig   
---
<div class="doc-content">
  <h1 class="font-logo text-center" style="border-bottom:0;">视频教程</h1>
  <div id="backbone">
    <div class="section">
      <h2 class="section-title"><span class="font-logo">YLIYUN 平台</span></h2>
      <div class="row">
        <div class="section-content col-xs-12 col-sm-6 col-md-6">
          <h3>安装部署</h3>
          <ul class="list-unstyled">
            <li><a href="http://video.tudou.com/v/XMzc5MjM5ODk5Ng==.html" target="_blank">如何安装一粒云？</a></li>
            <li><a href="https://mparticle.uc.cn/video.html?uc_param_str=frdnsnpfvecpntnwprdssskt&wm_id=fcd39132a9084dfa91655016b462c7f6&wm_aid=b9d56b8bd7594d76a829391fcdbf45e4" target="_blank">磁盘挂载教程</a></li>
            <li><a href="https://mparticle.uc.cn/video.html?uc_param_str=frdnsnpfvecpntnwprdssskt&wm_id=fcd39132a9084dfa91655016b462c7f6&wm_aid=80f82a37ee6f4b679bf27d94c979d69b" target="_blank">磁盘整列-RAID5</a></li>

            <li><a href="" >使用VM镜像包一键部署</a>（完善中...）</li>
            <li><a href="" >Docker快速部署</a>（完善中...）
            </li>
            <li>
              <p class="note">
                不同场景下安装部署一粒云私有云存储
              <p>
            </li>
          </ul>
          <!--<h3>存储扩容</h3>-->
          <!--<ul class="list-unstyled">-->
            <!--<li><a href="# " target="_blank">磁盘阵列（RAID）（2018-06-04）</a></li>-->
            <!--<li><a href="#" target="_blank">磁盘加载及扩容（2018-06-07）</a></li>-->
            <!--&lt;!&ndash; <li><a href="http://www.bilibili.com/video/av7503722/" target="_blank">NPM 包管理器应用技巧（2016-12-17）</a></li> &ndash;&gt;-->
            <!--&lt;!&ndash; <li><a href="https://xiaobanhui.com/wxTech/499808229/" target="_blank">Node.js 错误处理实践</a></li> &ndash;&gt;-->
          <!--</ul>-->
          <h3>数据安全</h3>
          <ul class="list-unstyled">
            <li><a href="" >系统扩容教程</a>（完善中...）</li>
            <li><a href="" >系统备份教程</a>（完善中...）</li>
          </ul>
        </div>
        <div class="section-content col-xs-12 col-sm-6 col-md-6">
          <h3>使用技巧</h3>
          <ul class="list-unstyled">
            <li><a href="" >文档在线编辑协作教程</a>（完善中...）</li>
            <li><a href="" >钉钉集成</a>（完善中...）</li>
            <!--<li><a href="#" target="_blank">外网访问配置（上）<span class="text-muted">（2017-06-10）</span></a>-->
            <!--</li>-->
            <!--<li><a href="#" target="_blank">外网访问配置（下）<span class="text-muted">（2017-06-10）</span></a>-->
            <!--</li>-->
            <li>
              <p class="note">通过与企业现有业务系统对接集成，达到业务数据统一存储、管理、归档流程</strong>。</p>
            </li>
          </ul>
          <!--<h3>自定义插件</h3>-->
          <!--<ul class="list-unstyled">-->
            <!--<li><a href="" >在一粒云快速添加<strong>Markdown插件</strong></a>（完善中...）</li>-->
            <!--<li><a href="" >使用一粒云插件模版开发DIY插件</a>（完善中...）-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="note">学习使用一粒云插件模版及调用API自己开发插件模块</p>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
</div>
