--- layout: download.swig ---
<style type="text/css">
.doc-content h2 { color: #333; } h1 .changelog-rss {display: inline-block;line-height: 1; height: 24px;vertical-align: 5px;}
</style>
<div class="row">
  <div class="col-md-12">
    <div class="doc-home-title">
      <h1 class="font-logo">
        Yliyun 资源下载
      </h1>
      <h4>安装包 及相关资源下载</h4>
    </div>
    <!-- .doc-home-title -->
  </div>
  <!-- .col-md-12 -->
  <div class="col-md-12">
    <div style="display:flex;flex-wrap:wrap;margin-left:-20px">
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> 一粒云软件包</h2>
          <p>
            各个版本一粒云安装包、升级包 <a href="down_pkg_releases.html">查看所有</a>
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="http://45.199.187.116/downloads/yliyun-v4.2.2-2018001025.tar.gz" class="btn btn-sm btn-primary">完整最新版软件包(1.03G) </a></li>
          <li><a href="#" class="btn btn-link"> 服务器管理组件</a></li>
          <li><a href="#" class="btn btn-link"> 操作系统</a></li>
          <li><a href="#">docker</a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Synsea</h2>
          <p>
            自 2018 年 7 月起，一粒云推出软硬一体化解决方案-Synsea（深海聚数）。阅读 <a href="synsea.html">Synsea系列产品</a> 获取更多信息。
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a target="_blank"  href="http://app.yliyun.com/download/synsea/Synsea-SF4020-4060.compressed.pdf" class="btn btn-sm btn-primary"> SynseaF系列</a>
        </li>
        <li><a target="_blank"  href="http://app.yliyun.com/download/synsea/Synsea-SE4080.compressed.pdf" class="btn btn-sm btn-primary"> SynseaE系列-8盘</a>
      </li>
          <li><a target="_blank"  href="http://app.yliyun.com/download/synsea/Synsea-SE4120.compressed.pdf" class="btn btn-sm btn-primary"> SynseaE系列-12盘</a>
          </li>
          <li><a target="_blank"  href="http://app.yliyun.com/download/synsea/Synsea-SE4240.compressed.pdf" class="btn btn-sm btn-primary"> SynseaE系列-24盘</a>
          </li>
    </ul>
    </div>
      <div class="dl-cell">
  <div class="desc">
    <h2><i class="icon icon-github"></i> 辅助工具</h2>
    <p>包含服务器运维常用 xshell、xftp等辅助工具。（<a escape-hash href="" target="_blank">下载需考虑自身操作系统兼容性</a>）
    </p>
</div>
  <ul class="list-unstyled list-inline download-btns">
    <li><a href="http://45.199.187.116/downloads/tools/xsehll5.zip" class="btn btn-sm btn-primary"> xshell</a>
    </li>
    <li><a href="#" class="btn btn-sm btn-primary"> xftp</a>
    </li>
    <li><a href="http://45.199.187.116/downloads/tools/TeamViewer_Setup.exe.zip" class="btn btn-sm btn-primary">TeamViewer</a></li>
  </ul>
</div>
      <div class="dl-cell">
<h2><i class="icon icon-github"></i> 帮助文档 </h2>
<div class="desc">
    <p>
      包括一粒云软件介绍、操作手册、功能参数等不同的文件。查看跟多资料内容访问 <a href="down_doc_releases.html">文档资料</a> 。
    </p>
  </div>
  <ul class="list-unstyled list-inline download-btns">
    <li> <a target="_blank" href="http://45.199.187.116/downloads/docs/Brochures.pdf" class="btn btn-sm btn-primary"> 产品介绍 </a></li>
    <li> <a target="_blank" href="http://45.199.187.116/downloads/docs/%e4%b8%80%e7%b2%92%e4%ba%91v4.2%e6%93%8d%e4%bd%9c%e6%89%8b%e5%86%8c-.docx" class="btn btn-sm btn-primary"> 操作手册 </a></li>
    <li><a target="_blank" href="http://45.199.187.116/downloads/docs/%e4%b8%80%e7%b2%92%e4%ba%914.2%e5%8a%9f%e8%83%bd%e5%8f%82%e6%95%b0.docx" class="btn btn-sm btn-primary">功能参数</a></li>
    <li><a  target="_blank" href="http://45.199.187.116/downloads/docs/%e4%b8%80%e7%b2%92%e4%ba%91%e4%ba%a7%e5%93%81%e7%99%bd%e7%9a%ae%e4%b9%a6.pdf" class="btn btn-sm btn-primary">白皮书</a></li>
  </ul>
</div>

    </div>
  </div>

</div>
