--- layout: download.swig ---
<style type="text/css">
.doc-content h2 { color: #333; } h1 .changelog-rss {display: inline-block;line-height: 1; height: 24px;vertical-align: 5px;}
</style>
<div class="row">
  <div class="col-md-12">
    <div class="doc-home-title">
      <h1 class="font-logo">
        Yliyun 资源下载
      </h1>
      <h4>安装包 及相关资源下载</h4>
    </div>
    <!-- .doc-home-title -->
  </div>
  <!-- .col-md-12 -->
  <div class="col-md-12">
    <div style="display:flex;flex-wrap:wrap;margin-left:-20px">
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> 一粒云软件包</h2>
          <p>
            各个版本一粒云安装包、升级包 <a href="down_pkg_releases.html">查看所有</a>
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="#" class="btn btn-sm btn-primary">完整最新版软件包 </a></li>
          <li><a href="#" class="btn btn-link"> 服务器管理组件</a></li>
          <li><a href="#" class="btn btn-link"> 操作系统</a></li>
          <li><a href="#">docker</a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Synsea</h2>
          <p>
            自 2018 年 7 月起，一粒云推出软硬一体化解决方案-Synsea（深海聚数）。阅读 <a href="synsea.html">synsea 安装指南</a> 获取帮助。
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="#" class="btn btn-sm btn-primary"> SynseaF系列</a>
        </li>
        <li><a href="#" class="btn btn-sm btn-primary"> SynseaF系列</a>
      </li>
    </ul>
    </div>
<div class="dl-cell">
  <div class="desc">
    <h2><i class="icon icon-github"></i> 辅助工具</h2>
    <p>包含服务器远程连接 xshell、xftp等辅助工具。（<a escape-hash href="#" target="_blank">需要自行编译和打包</a>）
    </p>
</div>
  <ul class="list-unstyled list-inline download-btns">
    <li><a href="#" class="btn btn-sm btn-primary"> xshell</a>
    </li>
    <li><a href="#" class="btn btn-sm btn-primary"> xftp</a>
    </li>
    <li><a href="#" class="btn btn-sm btn-primary">TeamViewer</a></li>
  </ul>
</div>
<div class="dl-cell">
<h2><i class="icon icon-github"></i> 帮助文档 </h2>
<div class="desc">
    <p>
      包括一粒云软件介绍、操作手册、功能参数等不同的文件。访问 <a href="down_doc_releases.html">文档资料</a> 查看跟多资料内容。
    </p>
  </div>
  <ul class="list-unstyled list-inline download-btns">
    <li> <a href="#" class="btn btn-sm btn-primary"> 产品介绍 </a></li>
    <li> <a href="#" class="btn btn-sm btn-primary"> 操作手册 </a></li>
    <li><a href="#" class="btn btn-sm btn-primary">功能参数</a></li>
    <li><a href="#" class="btn btn-sm btn-primary">白皮书</a></li>
  </ul>
</div>


<!-- .row -->

</div>

<!-- .col-md-12 -->
<!-- Modals -->
<div class="modal fade" id="modal-ios-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-ios-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-ios-changelog-label">iOS Changelog</h4>
</div>
<div class="modal-body">
<div id="ios-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-osx-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-osx-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-ios-changelog-label">macOS Changelog</h4>
</div>
<div class="modal-body">
<div id="osx-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-android-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-android-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-android-changelog-label">Android Changelog</h4>
</div>
<div class="modal-body">
<div id="android-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-javascript-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Changelog</h4>
</div>
<div class="modal-body">
<div id="js-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-jschat-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Chat Changelog</h4>
</div>
<div class="modal-body">
<div id="jschat-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-unity3d-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-unity3d-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-unity3d-changelog-label">Unity Changelog</h4>
</div>
<div class="modal-body">
<div id="unity3d-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-wp-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-wp-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-wp-changelog-label">Windows Phone Changelog</h4>
</div>
<div class="modal-body">
<div id="wp-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
</div>
<!--end row-->
