# 文件管理入门教程 &middot; {{platformName}}
欢迎使用 一粒云。本教程将从用户日常使用场景出发，向你讲解 YLIYUN 的数据存储及文件管理的基本使用方法。

## 你将了解到什么
* 用户系统，登录和登出
* 主界面及保存数据到 YLIYUN
* 文件数据的增、删、改、查、基本管理
* 分享文件给同事及外部客户

## 如何学习
我们推荐下面三步，它们是一步步递进且相互关联的：

 1. 打开并登入云盘系统。你可以通过浏览界面，对 YLIYUN 有一个初步的了解。
 2. [创建一个文件夹并上传文件]，对上传的数据进行管理，来全面深入地理解 YLIYUN的文件管理功能。
 3. 分享一个文件或文件夹

## 要做的准备
* IE8以上浏览器或firefox、chrome、Safari等其它浏览器
* 内网一粒云平台地址及登录帐号（一般为企业管理员分配）

## 主要步骤 
### 1、用户登录

如无帐号，打开右上角 "在线体验" 后首先看到的是登录界面。然后输入默认测试帐号 test, 密码：test，点击【登录】按钮。

如果已有账号，那就在登录页面，输入自己帐号、密码，点击【登录】按钮。


### 2、主界面介绍

登录成功后，可以看到我们的主界面主要包含以下模块：

- 个人空间
- 共享空间
- 群组空间
- 知识库
- 通知消息

我们看到，右侧我们云盘的主要操作界面：

空间划分 | 描述 | 所有者 | 权限控制
---|---|---|---
个人空间 | 个人私有化数据存储 | 个人 | 个人私有
共享空间 | 企业及部门规范化数据存储 | 企业及部门管理员| 组织架构
群组空间 | 项目协作数据存储 | 群组管理员| 角色权限
知识库 | 企业知识库 | 知识库管理员| 审批控制

这里还有两个比较特殊的模块：

- 共享空间
企业日常办公协作数据存储空间，与企业组织架构一一对应

- 知识库
企业价值文件提取及企业知识积累


### 3、文件存储管理基本操作

我们回到主页面，进入个人空间：创建一个文件夹：


### 4、分享文件

选择一个文件或文件夹，点击【分享】：


### 5、退出登录

鼠标移至"左侧用户头像"，在弹出的界面中我们可以看到当前用户的个人及部门信息，在这里可以编辑及修改用户密码等。点击【注销】退出登录。

##  更进一步

我们在这次的教程中，逐一地去熟悉几个核心的概念：`用户等登入登出`、`主界面介绍`、 `文件管理基本操作`和`文件分享`。在理解了这些基础功能后，就可以满足个人日常文件管理的大部分需求了。

更丰富的用法及使用场景，请查阅以下进阶文档的相关部分：{{link_to_storage_guide_doc}}。
