<footer class="footer" role="contentinfo">
  <div class="container-fluid">

    <ul class="footer-links pull-right">
      <!--<li class="muted">·</li>-->
      <!--<li><a href="/pricing">价格</a></li>-->
      <!--<li class="muted">·</li>-->
      <!--<li><a href="/docs/sdk_down.html">下载</a></li>-->
      <!-- <li class="muted">·</li>
      <!--<li><a href="/apps.html" target="_self">App</a></li> &ndash;&gt;-->
      <!--<li class="muted">·</li>-->
      <!--<li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>-->
      <li class="muted">·</li>
      <li><a href="help.html"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <!--<li class="muted">·</li>-->
      <!--<li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>-->
      <li class="muted">·</li>
      <li><a href="http://bbs.ylicloud.com/" target="_blank">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://www.yliyun.com/blog" target="_blank">Blog</a></li>
      <!--<li class="muted">·</li>-->
      <!--<li><a href="https://github.com/leancloud/docs">文档源码</a></li>-->
    </ul>
  </div>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
  apiKey: '0502eaa4d544127cebd199ad3f49304d',
  indexName: 'yliyun',
  inputSelector: '#site-search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
